/* controls responsiveness of header components */

.banner {
  /* height takes up 80% of screen */
  height: 90vh;
  position: relative;
  background: url("https://i.ytimg.com/vi/7zqV2kZ90jQ/maxresdefault.jpg") top center;
}


/* .banner__info{
  background-color: black;
  color: white;
  padding-top: 25vh;
  padding-left: 5vw;
  padding-right: 5vh;
  padding-bottom: 5vh;
  width: 40vw;
} */

.banner__info > button {
  margin-top: 5px;
  background-color: white;
  color: black;
   /* button text inherits font of other text */
  text-transform: inherit;
}

.banner__info > h5 {
  margin-top: 10px;
}

/* controls color of the button as you hover over it */
.banner__info > button:hover {
  background-color: seagreen;
  color: white;
}



/* search bar */
.searchbar {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 8px;
  height: 27px;
  border: 1px solid seagreen;
  border-radius: 100px;
}


.searchbar > input {
  border: none;
  border-radius: none;
  padding: 10px;
  outline-width: 0px;
  width: fit-content;
}

/* search dates css */
.search {
  position: absolute;
  top: 35px;
  left: 25%;
  width: 100vw;
}