/* CSS FOR HOME PAGE ONLY */
/* Banner for carousel */
.banner {
  margin: 0%;
  margin-top: 0px;
}

/* 'Start Exploring' button */
.start-exploring {
  margin: 0;
  padding: 0;
  z-index: 5;
  background: #003060;
  opacity: 1;
  border-radius: 40px;
  margin-top: 375px;
  left: 40%;
  position: absolute;
  width: 25rem;
  font-size: x-large;
  color: #ffffff;
}

/* The Switch */
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.mid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

/* Contact Us (L-info, R-map) */
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.left {
  flex: 5;
  width: auto;
  height: 100%;
  padding: 10%;
  font-size: xx-large;
  text-align: left;
  background-color: plum;
}

.right {
  flex: 3;
  padding: 10%;
  background-color: salmon;
}
