/* CSS FOR HOME PAGE ONLY */

body::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 150px 100px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

/* Banner for carousel */
.banner {
  margin: 0%;
  margin-top: 0px;
  text-align: center;
  justify-content: center;
}

/* 'Start Exploring' button */
.start-exploring {
  padding: 1%;
  z-index: 5;
  background: #ffffff;
  opacity: 1;
  border-radius: 40px;
  border-color: #ffffff;
  margin: 0 auto;
  margin-top: 45%;
  position: absolute;
  text-align: center;
  width: 30rem;
  font-size: x-large;
  color: #000000;
  box-shadow: 0px 0px 50px 20px #000000;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Other Buttons */
.otherbuttons {
  margin: 0;
  padding: 1rem;
  z-index: 0;
  background-color: #003060;
  color: white;
  border-radius: 40px;
  border-color: #003060;
  margin-top: 5%;
  position: initial;
  width: auto;
  font-size: medium;
}

.extra-btn {
  margin: 0;
  padding: 1rem;
  z-index: 0;
  background-color: #003060;
  color: white;
  border-radius: 40px;
  border-color: #003060;
  margin-top: 5%;
  position: initial;
  width: 32rem;
  font-size: x-large;
}

.logout{
  margin: 0;
  padding: 1rem;
  z-index: 0;
  background-color: #003060;
  color: white;
  border-radius: 40px;
  border-color: #003060;
  margin-top: 5%;
  position: initial;
  width: 15rem;
  font-size: large;
}

.otherbuttons:hover, .logout:hover, .extra-btn:hover {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
}

/* Contact Us Box(L-info, R-map) */
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.left {
  flex: 4;
  width: auto;
  height: 45vh;
  padding: 3%;
  font-size: x-large;
  text-align: left;
  background-color: white;
}

.right {
  flex: 3;
  margin: 0;
  padding: 0;
  height: 100%;
}

.text_1 {
  animation: text1;
}

.text_2 {
  animation: text2;
}

.text_3 {
  animation: text3;
}

.text_1, .text_2, .text_3 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

.text_1::after, .text_2::after, .text_3::after {
  content: " |";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes text3 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 10em;
  }
}

@keyframes text2 {
  0%, 50%, 100% {
    width: 0;
  }
  60%, 90% {
    width: 10em;
  }
}

@keyframes text1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 13em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
