/* This is the main CSS file that we will add to. Linked to App.js */

/*************************
   Default CSS stylings
*************************/

/***********************
Color palette of TRVL:
Black: #000000
White: #ffffff
Navy Blue: #003060
Grey: 
Red: 
***********************/

html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

ul,
li {
  list-style-type: none;
}

a,
a:hover {
  color: white;
  font-weight: bolder;
  font-style: normal;
}

.trvl {
  font-family: Arial, Helvetica, sans-serif Black;
  font-style: normal;
  font-weight: bolder;
  font-size: 5rem;
  line-height: 52px;
}

.footer {
  background-color: #003060;
  text-align: center;
  padding: 4%;
  padding-bottom: 2.5%;
  position: relative;
  bottom: 0;
  height: 20%;
  width: 100%;
  font-size: large;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
