/* controls responsiveness of header components */

.header {
  display: flex;
    /* spaces items */
  justify-content: space-between;
  align-items: center;
    /* makes header stay on top */
  position: static;
  top: 0;
  background-color:transparent;
  z-index: 100;
  width: 100%;
}


/* controls top righthand logo style */
.header__icon{
  object-fit: contain;
  height: 100px;
  margin-left: 0px;
  padding: 10px;
  height: 40px;
}


.header__right {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}

.datesearch {
  display: flex;
}

.datebutton {
  background-color: white !important;
  font-weight: bolder !important;
  text-transform: inherit !important;
  color: seagreen !important;
}